@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans), sans-serif;
  @apply bg-slate-950 text-slate-200;
}
